@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.container {
    padding: 80px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

a {
    text-decoration: none;
    position: relative;
}

.purple {
    color: #6415ff;
}

h2 {
    color: #243e63;
    font-weight: 700;
}

.big {
    font-size: 48px;
}

.med {
    font-size: 36px;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 0.1rem;
}

h4 {
    font-size: 20px;
    color: #243e63;
    margin-left: 12px;
}

p {
    color: #7c8ba1;
    font-size: 16px;
    margin-top: 16px;
    line-height: 2;
}

button {
    color: #f7fafc;
    font-size: 16px;
    background-color: #6415ff;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover {
    background-color: #4406c0;
}

/* 
HEADER
*/

.treact-logo {
    padding: 0 0 4px;
    margin: 0 24px 0 0;
    font-size: 24px;
    color: #243e63;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 700;
    transition: all 300ms ease;
}

.treact-logo:hover {
    color: #6415ff;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0 ;
}

.nav__links {
    display: inline-block;
}

.nav__link {
    font-size: 14px;
    padding: 0 0 4px;
    margin: 0 24px;
    color: #243e63;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415ff;
}

.login {
    margin: 0 24px 0 48px;
}

.purple__btn {
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    margin: 0;
    border-radius: 25px;
    height: 100%;
    font-size: 14px;
    transition: all 300ms ease;
}

.purple__btn:hover {
    background-color: #4406c0;
}

/*
LANDING PAGE
*/

.lp {
    display: flex;
}

.landing-page__info {
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.customers__img {
    margin: 16px 0 0;
    width: 100%;
    padding-right: 4rem;
    opacity: 0.5;
}

.landing-page__img--wrapper {
    width: 60%;
    margin-left: 80px;
}

.input__wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    padding: 20px 0;
    border-radius: 9999px;
    opacity: 0.4;
    border: 2px solid rgb(36, 62, 111, 0.3);
    width: 100%;
    font-size: 100%;
    outline: none;
    transition: 300ms;
    font-weight: 700;
    padding-left: 32px;
}

.input__btn {
    color: #f7fafc;
    font-size: 16px;
    background-color: #6415ff;
    margin: 8px 8px 8px 0;
    padding: 20px 32px;
    border: none;
    font-size: 100%;
    position: absolute;
    right: 0;
    font-weight: 700;
    outline: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.landing-page__img {
    width: 100%;
}

h1 {
    font-size: 36px;
    color: #1a202c;
    font-weight: 700;
}

.landing-page__description {
    font-size: 16px;
    margin: 32px 0;
    color: #1a202c;
}

.partners {
    margin: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.partners__title {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}


/*
FEATURES
*/

.features__super-title {
    margin-bottom: 16px;
}

.features__title {
    font-size: 48px;
    color: #243e63;
    font-weight: 700;
}

.features__para {
    color: #7c8ba1;
    font-size: 16px;
    margin: 16px 0 0;
    text-align: center;
    max-width: 576px;
}

.features__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    padding: 32px 8px;
    display: flex;
    width: calc(100% / 3);
}


.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
    max-width: 200px;
}

.service__img--wrapper {
    padding: 20px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: solid 1px rgb(226, 232, 240);
}

.service__img {
    width: 24px;
    height: 24px;
}

.service__title {
    font-size: 24px;
    color: #243e63;
}


/*
QUALITY 
*/

.quality__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.quality__img {
    width: 100%;
    border: solid 1px rgb(226, 232, 240);
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.quality__title {
    font-size: 48px;
    color: #243e63;
    margin: 16px 0 0;
}

.quality__btn {
    margin: 32px 0 0;
    padding: 12px 32px;
    font-size: 14px;
    height: 45px;
}

.description__wrapper {
    width: 90%;
}

/* 
STEPS
*/

.steps__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}


.steps__img {
    width: 100%;
    padding-right: 32px;
}

.steps__description--wrapper {
    width: 50%;
}

.steps__title {
    font-size: 48px;
    color: #243e63;
    margin: 16px 0 0;
}

.list__step {
    margin: 32px 0 0;
    display: flex;
}

.step__number {
    width: 10%;
    font-size: 36px;
    color: #cbd5e0;
}

.step__description {
    width: 90%;
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
    color: #243e63;
}

.step__para {
    margin: 12px 0 0;
}

/* 
VALUES
*/

.values__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.values__description--wrapper {
    width: 50%;
}

.values__description {
    width: 90%;
}

.values__img {
    width: 100%;
}

.values__title {
    font-size: 48px;
    color: #243e63;
    margin: 16px 0 0
}

.values__para {
    font-size: 18px;
    margin-top: 32px;
}

.values__btn {
    padding: 12px 32px;
    margin-top: 48px;
    height: 45px;
}

.affordable {
    display: flex;
    flex-direction: column;
}

.prin__head {
    display: flex;
    align-items: center;
}

.affordable, .professionalism {
    margin: 48px 32px 0 0;
}

.prin__svg--wrapper {
    height: 36px;
    width: 36px;
    background-color: #9ae6b4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.principles {
    display: flex;
}


.prof {
    background-color: #feb2b2;
}

.feather {
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

/*
PRICING
*/

.pricing__sup--title {
    margin-bottom: 16px;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__para {
    width: 60%;
    text-align: center;
}

.pricing__plans {
    display: flex;
    position: relative;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 32px;
    margin: 64px 32px 0 0;
    background-color: #ffffff;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 0.5rem;
    width: calc(100% / 3);
}

.plan__highlight {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.price__head {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 20px;
    color: #1a202c;
    font-weight: 700;
}

.price {
    font-size: 48px;
    color: #1a202c;
    margin: 4px 0;
    font-weight: 700;
}

.duration {
    color: #a0aec0;
}

.price__description {
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
}

.feature {
    margin-top: 20px;
    font-size: 16px;
    color: #718096;
    text-align: center;
}

.main-feature {
    font-size: 20px;
    color: #1a202c;
    margin-top: 0;
    font-weight: 700;
}

.price__btn--wrapper {
    padding: 32px;
}

.price__btn {
    padding: 16px 32px;
    font-size: 14px;
}

/*
TESTIMONIALS
*/

.testimonial {
    margin-top: 40px;
}

.testimonials__img--wrapper {
    width: 40%;
    display: flex;
    align-items: center;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 60%;
    padding-left: 64px;
}

.fa-star {
    margin-right: 4px;
    color: rgb(240, 187, 53);
    height: 20px;
    width: 20px;
}

.testimonials__title {
    margin-top: 16px;
}

.testimonials__para {
    font-size: 18px;
    margin-top: 24px;
}

.testimonial__title {
    font-size: 20px;
    margin-top: 16px;
    color: #243e63;
}

.testimonial__para {
    margin-bottom: 40px;
    color: #4a5568;
}

.client {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.client__info {
    display: flex;
}

.client__img {
    width: 80px;
    height: 80px;
    border-radius: 9999px;
}

.client__details {
    margin-left: 32px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.client__name {
    font-size: 20px;
    color: #243e63;
    font-weight: 700;
}

.client__job {
    margin: 0;
}

.arrow {
    margin: 0 12px;
    padding: 16px;
    background-color: #edf2f7;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.arrow:hover {
    background-color: #d4dde6;
    cursor: pointer;
}

.arrows {
    display: flex;
    height: 48px;
}

.fa-arrow-left, .fa-arrow-right {
    color: #6415ff;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    border: solid 1px rgb(226, 232, 240);
}

/*
SUMMARY
*/

.main__background {
    background-color: rgb(83, 33, 199);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.summary {
    font-size: 30px;
    color: #f7fafc;
    font-weight: 700;
    width: 50%;
}

.call__to--action {
    display: flex;
}

.gs__btn {
    color: #f7fafc;
    font-weight: 700;
    font-size: 16px;
    margin-right: 32px;
    padding: 20px 40px;
    background-color: rgb(221, 56, 56);
    transition: all 300ms ease;
}

.gs__btn:hover {
    background-color: rgb(227, 25, 25);
}

.cu__btn {
    color: #f7fafc;
    font-size: 16px;
    padding: 20px 40px;
    border: 1px solid rgb(226, 232, 240);
    background-color: transparent;
    transition: all 300ms ease;
}

.cu__btn:hover {
    background-color: #f7fafc;
    color: rgb(83, 33, 199);
}

.gs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 282px;
}

/*
FOOTER 
*/

footer {
    height: 522px;
    background-color:  rgb(83, 33, 199);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ftr__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.ftr__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.ftr__link--container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.ftr__link--title {
    font-size: 16px;
    color: #f7fafc;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}

.ftr__link--list {
    margin-top: 24px;
}

.ftr__link--wrapper {
    margin-top: 12px;
    position: relative;
}

.ftr__link {
    color: #f7fafc;
    font-size: 14px;
}

.ftr__link--wrapper::marker {
    color: rgb(83, 33, 199);
}

.line {
    border-bottom: 2px solid rgb(116, 44, 255);
    width: 100%;
    margin: 64px 0;
}

.misc {
    display: flex;
    justify-content: space-between;
}

.ftr__treact-logo {
    display: flex;
    align-items: center;
}

.ftr__treact--img {
    height: 32px;
    width: 32px;
}

.ftr__treact--title {
    font-size: 20px;
    color: #f7fafc;
    margin-left: 8px;
    font-weight: 900;
    height: 100%;
    display: flex;
    align-items: center;
}

.copyright {
    font-size: 16px;
    color: #cbd5e0;
    display: flex;
    align-items: center;
}

.social__links {
    display: flex;
    align-items: center;
}

.social__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7fafc;
    border-radius: 50%;
    transition: all 300ms ease;
}

.social__link:hover {
    background-color: #bbd2e1;
}

.sl-margin {
    margin-right: 16px;
}

.fab {
    color: black;
    font-size: 16px;
}

.link__hover--effect:after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    background-color: #f7fafc;
    transition: all 300ms ease;
    opacity: 0;
}

.link__hover--effect:hover:after {
    opacity: 1;
}

.purple__link:after {
    background-color: #6415ff;
}

